.footer {
   padding: toRem(80) 0;
   &__container {
   }

   &__body {
      display: flex;
      align-items: flex-start;
      gap: toRem(20);
      justify-content: space-between;
      @media (max-width: toEm(900)) {
         flex-wrap: wrap;
      }
      padding-bottom: toRem(40);
      border-bottom: 1px solid $secondColor;
      @media (max-width: toEm(797)) {
         padding-bottom: toRem(15);
      }
   }

   &__block {
      display: flex;
      flex-direction: column;
      gap: toRem(25);
      flex-basis: 20%;
      &--basis {
         flex-basis: 40%;
      }
      @media (max-width: toEm(500)) {
         flex-basis: 100%;
      }
   }

   &__logo {
      color: $mainColor;
      font-size: toRem(30);
      font-weight: 600;
      text-transform: uppercase;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      @media (max-width: toEm(797)) {
         font-size: toRem(18);
      }
      span {
         text-shadow: none;
         color: $thirdColor;
      }
   }

   &__media {
      display: flex;
      align-items: center;
      gap: toRem(10);
      a {
         &::before {
            font-size: toRem(30);
            color: $thirdColor;
            transition: all 0.3s;
         }
         @media (any-hover: hover) {
            &:hover {
               &::before {
                  color: $secondColor;
                  transform: scale(1.1);
               }
            }
         }
      }
   }

   &__telephones {
      display: flex;
      align-items: flex-start;
      gap: toRem(10);
      flex-direction: column;
   }

   &__title {
      font-size: toRem(28);
      text-transform: uppercase;
   }

   &__list {
      font-size: toRem(18);
      display: flex;
      flex-direction: column;
      gap: toRem(10);
   }

   &__item {
      @media (any-hover: hover) {
         &:hover {
            .footer__link-item {
               color: $secondColor;
            }
         }
      }
   }

   &__link-item {
      transition: all 0.3s;
   }

   &__name {
      font-size: toRem(30);
      text-transform: uppercase;
   }

   &__sub-title {
      font-size: toRem(18);
      color: $forthColor;
   }

   &__form {
      display: flex;
      align-items: center;
      gap: toRem(20);
      @media (max-width: toEm(350)) {
         flex-wrap: wrap;
      }
   }

   &__input {
      height: toRem(40);
      padding: 0 toRem(15);
      border-radius: toRem(100);
      border: 1px solid #000;
   }

   &__button {
      padding: toRem(10) toRem(15);
      border-radius: toRem(100);
      background-color: #948969;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $mainColor;
      transition: all 0.3s;
      @media (any-hover: hover) {
         &:hover {
            background-color: $secondColor;
         }
      }
   }

   &__bottom {
      padding-top: toRem(40);
      @media (max-width: toEm(797)) {
         padding-top: toRem(15);
      }
   }
}
