.content-table {
   background-color: $BGcolor;
   padding: toRem(70) 0;
   @media (max-width: toEm(900)) {
      padding: toRem(40) 0;
   }
   color: $mainColor;

   &__container {
      display: flex;
      flex-direction: column;
      gap: toRem(40);
      align-items: flex-start;
      @media (max-width: toEm(900)) {
         gap: toRem(25);
      }
   }
   &__title {
      font-size: toRem(50);
      text-transform: uppercase;
      font-weight: 700;
      @media (max-width: toEm(900)) {
         font-size: toRem(25);
      }
   }

   &__text {
      p {
         font-size: toRem(22);
         font-weight: 500;
         line-height: 1.5;
         &:not(:last-child) {
            margin-bottom: toRem(15);
         }
         @media (max-width: toEm(900)) {
            font-size: toRem(16);
         }
      }
   }
}
