.form-section {
   background-color: $BGcolor;
   padding-top: toRem(85);
   font-size: toRem(18);
   color: $mainColor;
   border-bottom: 1px solid $mainColor;
   @media (max-width: toEm(900)) {
      font-size: toRem(16);
   }

   &__container {
   }

   &__title {
      font-size: toEm(50, 18);
      font-weight: 700;
      text-transform: uppercase;
      span {
         color: $secondAccentColor;
      }
      margin-bottom: toRem(52);
   }

   &__body {
      display: flex;
      justify-content: space-between;
      //   gap: toRem(150);
      //   flex-wrap: wrap;
      @media (max-width: toEm(850)) {
         flex-direction: column;
      }
   }

   &__form {
      display: flex;
      flex-direction: column;
      gap: toEm(40, 18);
      flex-grow: 1;
      flex-basis: 45%;
      padding-bottom: toEm(40, 18);
      //   align-items: flex-start;
   }

   &__label {
      text-transform: uppercase;
      font-size: toEm(28, 18);
      font-weight: 700;
      display: flex;
      flex-direction: column;
      gap: toEm(10, 18);
      //   align-items: flex-start;
   }

   &__input {
      height: toEm(38, 18);
      color: $mainColor;
      padding: 0 toRem(10);
      background-color: transparent;
      border-bottom: 2px solid $mainColor;
      &::placeholder {
         opacity: 1;
         color: $mainColor;
         font-size: toEm(18, 18);
         font-weight: 500;
         @media (max-width: toEm(900)) {
            font-size: toEm(14, 18);
         }
      }
   }

   &__button {
      align-self: flex-start;
      padding: toRem(12) toEm(20, 18);
      border-radius: toRem(12);
      border: 1px solid $secondAccentColor;
      color: $secondAccentColor;
      font-size: toRem(18);
      font-weight: 700;
      transition: all 0.3s;
      &:hover {
         background-color: $mainColor;
         color: $BGcolor;
      }
   }

   &__image {
      flex-basis: 45%;

      object-fit: cover;
      width: 100%;
   }
}
