.book-read {
   &--margin {
      margin-bottom: toRem(150);
      @media (max-width: toEm(900)) {
         margin-bottom: toRem(100);
      }
      @media (max-width: toEm(600)) {
         margin-bottom: toRem(80);
      }
   }
   width: 100%;
   text-align: center;
   &__body {
      margin: 0 auto;
      max-width: toRem(900);
   }
}
