[class*="_i-"]::before {
   display: inline-block;
   font-family: "icons";
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   line-height: 1;
   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

._i-book:before {
   content: "\e900";
}
._i-calendar:before {
   content: "\e901";
}
._i-catalog:before {
   content: "\e902";
}
._i-empty-star:before {
   content: "\e903";
}
._i-facebook:before {
   content: "\e904";
}
._i-full-star:before {
   content: "\e905";
}
._i-gaming:before {
   content: "\e906";
}
._i-genres:before {
   content: "\e907";
}
._i-laptop:before {
   content: "\e908";
}
._i-like:before {
   content: "\e909";
}
._i-linkedin:before {
   content: "\e90a";
}
._i-minus:before {
   content: "\e90b";
}
._i-open-list:before {
   content: "\e90c";
}
._i-play:before {
   content: "\e90d";
}
._i-plus:before {
   content: "\e90e";
}
._i-rating:before {
   content: "\e90f";
}
._i-read:before {
   content: "\e910";
}
._i-ring:before {
   content: "\e911";
}
._i-search:before {
   content: "\e912";
}
._i-slide-down:before {
   content: "\e913";
}
._i-slide-left:before {
   content: "\e914";
}
._i-slide-right:before {
   content: "\e915";
}
._i-smartphone:before {
   content: "\e916";
}
._i-smartTV:before {
   content: "\e917";
}
._i-sound:before {
   content: "\e918";
}
._i-tablet:before {
   content: "\e919";
}
._i-time:before {
   content: "\e91a";
}
._i-translate:before {
   content: "\e91b";
}
._i-twitter:before {
   content: "\e91c";
}
._i-video-pause:before {
   content: "\e91d";
}
._i-view:before {
   content: "\e91e";
}
._i-VR:before {
   content: "\e91f";
}

// ._i-calendar:before {
//    content: "\e900";
// }
// ._i-catalog:before {
//    content: "\e901";
// }
// ._i-empty-star:before {
//    content: "\e902";
// }
// ._i-facebook:before {
//    content: "\e903";
// }
// ._i-full-star:before {
//    content: "\e904";
// }
// ._i-gaming:before {
//    content: "\e905";
// }
// ._i-genres:before {
//    content: "\e906";
// }
// ._i-laptop:before {
//    content: "\e907";
// }
// ._i-like:before {
//    content: "\e908";
// }
// ._i-linkedin:before {
//    content: "\e909";
// }
// ._i-minus:before {
//    content: "\e90a";
// }
// ._i-open-list:before {
//    content: "\e90b";
// }
// ._i-play:before {
//    content: "\e90c";
// }
// ._i-plus:before {
//    content: "\e90d";
// }
// ._i-rating:before {
//    content: "\e90e";
// }
// ._i-ring:before {
//    content: "\e90f";
// }
// ._i-search:before {
//    content: "\e910";
// }
// ._i-slide-down:before {
//    content: "\e911";
// }
// ._i-slide-left:before {
//    content: "\e912";
// }
// ._i-slide-right:before {
//    content: "\e913";
// }
// ._i-smartphone:before {
//    content: "\e914";
// }
// ._i-smartTV:before {
//    content: "\e915";
// }
// ._i-sound:before {
//    content: "\e916";
// }
// ._i-tablet:before {
//    content: "\e917";
// }
// ._i-time:before {
//    content: "\e918";
// }
// ._i-translate:before {
//    content: "\e919";
// }
// ._i-twitter:before {
//    content: "\e91a";
// }
// ._i-video-pause:before {
//    content: "\e91b";
// }
// ._i-view:before {
//    content: "\e91c";
// }
// ._i-VR:before {
//    content: "\e91d";
// }
