.payment-features {
   font-size: toRem(18);
   color: $grey60;
   &__block {
      width: 100%;
      overflow-x: auto;
   }
   &__titling {
      display: flex;
      flex-direction: column;
      gap: toRem(10);
      align-items: flex-start;
      &--margin {
         margin-bottom: toRem(80);
         @media (max-width: toEm(900)) {
            margin-bottom: toRem(60);
         }
         @media (max-width: toEm(600)) {
            margin-bottom: toRem(40);
         }
      }
   }

   &__title {
      font-size: toEm(48, 18);
      font-weight: 700;
      color: $absoluteWhite;
      line-height: 1.3;
   }

   &__text {
      width: 80%;
      p {
         line-height: 1.5;
      }
   }

   &__table {
      border-collapse: separate;
      width: 100%;

      background-color: $black08;
      border-radius: toRem(16);
      border: 1px solid $black15;
      overflow: hidden;
      border-spacing: 0;
      // overflow-x: auto;
   }

   &__head {
      tr {
         color: $absoluteWhite;
         background-color: $black06;
         text-align: left;
         //  display: flex;
         //  gap: toRem(5);
         //  flex-wrap: wrap;
         //  align-items: center;
      }
   }

   &__row {
      border: 1px solid $black15;

      td,
      th {
         border: 1px solid $black15;
         width: 25%;
         font-size: toEm(20, 18);
         padding: toEm(30, 18);
      }
   }

   &__label {
      padding: toRem(4) toRem(10);
      border-radius: toRem(4);
      background-color: $yellow45;
      text-align: center;
      font-size: toRem(14);
      font-weight: 400;
      margin-top: toRem(4);
      display: inline-block;
   }

   &__body {
   }
}
.payment-features--margin {
}
