.book {
   // .book__wrapper

   &__wrapper {
   }

   // .book__slide

   &__slide {
   }

   // .book__body

   &__body {
      margin: 0 auto;
      padding: toRem(10);
      padding-bottom: toRem(50);
      overflow: hidden;
      max-width: toRem(1000);
      height: toRem(750);
      background-color: $black25;
      color: $grey75;
      line-height: 1.5;
      word-wrap: break-word; /* Дозволяє розрив слів, якщо вони не вміщуються в блок */
      overflow-wrap: break-word; /* Альтернатива для word-wrap для підтримки більш широкого спектру браузерів */
      hyphens: auto;
      text-align: justify;
      h2 {
         color: red;
      }
      // text-overflow: ellipsis;
      // white-space: nowrap;
   }
}
